# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Дополнительные настройки функций JEI.
##########################################################################################################

advanced {
    S:itemBlacklist <
        cyclicmagic:tool_harvest_crops
        cyclicmagic:robot_spawner
        cyclicmagic:ender_pearl_mounted
        minecraft:splash_potion:butter2;potion.butter x 2, Duration: 1800
        cyclicmagic:tool_harvest_weeds
     >
}


